div {
    font-size: 15rem;
    text-align: center;
    height: 90vh;
    line-height: 90vh;
    color: #d8d9fc;
    background: #581363;
    font-family: 'Amatic SC', cursive;    
    font-weight: 700;
    text-shadow: 5px 5px 0px #382beb, 
                10px 10px 0px #47428b,
                15px 15px 0px #466db5, 
                20px 20px 0px #505aaf, 
                25px 25px 0px #332d50, 
                30px 30px 0px #681ac1,
                35px 35px 0px #491386;
}

p {
    text-align: center;
}

a {
    font-weight: bolder;
    color: #382beb;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;    
    font-size: 1.5rem;
}